
* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  font-family: 'Courier New', Courier, monospace;
}


.navbar {

  height         : 5rem;
  width          : 100%;
  background     : rgb(0, 0, 0);
  color          : rgb(255, 255, 255);
  display        : flex;
  align-items    : center;
  justify-content: space-between;
}

.mainMenu {
  display   : flex;
  list-style: none;
}

.link {
  font-family    : Arial, sans-serif;
  border-radius  : 2.75px;
  display        : inline-block;
  padding        : 15px;
  text-decoration: none;
  text-transform : uppercase;
  color          : rgb(255, 255, 255);
  font-size      : 18px;
  transition     : 0.2s ease;
}

.link:hover {
  background: rgb(255, 255, 255);
  color     : rgb(0, 0, 0);
}





@media (max-width: 800px) {


  .mainMenu {
    height         : 50vh;
    position       : fixed;
    top            : 0px;
    right          : 0px;
    left           : 0px;
    z-index        : 10;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    color          : #fff;
    background     : rgb(0, 0, 0);
    transition     : top 1s ease 0s;
    display        : none;
  }



  .link:hover {
    background-color: #fff;
    color           : rgb(0, 0, 0);
  }

 

}


/* Nav styling end   */

/* main styling start */

.projects {
  border-radius   : 25px;
  overflow        : hidden;
  width           : 80%;
  margin-top      : 2rem;
  margin-left     : 20%;
  border          : 1px solid #000;
  display         : flex;
  align-content   : space-between;
  box-shadow      : -9px 20px 12px #000;
}

.heading_container {
  display    : grid;
  font-size  : 2.1rem;
  place-items: center;
  width      : 50%;


}

.heading {
  text-transform: uppercase;
  font-family   : 'Roboto Slab', monospace;
}

.pera_container {
  font-weight: 900;
  padding    : 1rem;
  text-align : center;
  width      : 50%;
  font-size  : 1.5rem
}

.python {
  box-shadow      : 9px 20px 12px #000;
  width           : 85%;
  display         : flex;
  background-image: none;
  border          : 1px solid #000;
  border-radius   : 25px;
  padding         : 1rem;
  margin-top      : 5rem;
}

.notes {
  box-shadow   : -9px 20px 12px #000;
  border       : 1px solid #000;
  margin-top   : 5rem;
  border-radius: 25px;
  padding      : 1rem;
  display      : flex;
  width        : 80%;
  margin-left  : 19.562%;
}

.notes_pera_container {
  width: 50%;
}

.notes_pera {
  text-align : center;
  font-size  : 1.5rem;
  font-weight: 900;
}

.notes_head_container {
  display            : grid;
  font-size          : 2.5rem;
  place-items        : center;
  width              : 50%;

}

.notes_head_container a {
  color: rgb(0, 0, 0);
}

.free_books {
  box-shadow   : 9px 20px 12px #000;
  display      : flex;
  padding      : 1rem;
  width        : 80%;
  margin-right : 20%;
  border       : 1px solid red;
  border-radius: 25px;
  margin       : 5rem 0;
}

.book_container {
  width              : 50%;
  font-size          : 2rem;
  display            : grid;
  place-items        : center;

}

.book_container a {
  color: #fff;
}

.book_pera {
  width      : 50%;
  text-align : center;
  font-size  : 1.5rem;
  font-weight: 900;
}

.footer {
  display         : grid;
  place-items     : center;
  width           : 100%;
  height          : 5rem;
  background-color: gray;
  color           : #fff;
  font-size       : 1.5rem;
  font-weight     : 800;
}



.python_con a {
  color: rgb(0, 0, 0);
}

.logo {
  height: 2rem;
  color : #fff;
}